@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/font/HelveticaNeue-Roman.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "HelveticaNeue";
}

.button {
  padding: 8px 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
  background: #8dd83d;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background: #507726;
  -webkit-box-shadow: 3px 3px 10px #1b1b1b;
          box-shadow: 3px 3px 10px #1b1b1b;
}

.dark-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#686c6f), to(#373a3c));
  background: linear-gradient(#686c6f, #373a3c);
}

.dark-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#4a4c4e), to(#18191a));
  background: linear-gradient(#4a4c4e, #18191a);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#header__menu-active {
  opacity: 1;
}

.header {
  background: #373a3c;
  height: 60px;
  padding: 11px 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__menu ul li {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header .header__menu ul li input {
  padding: 9px 15px;
  border-radius: 4px;
}

.header .header__menu ul li:hover {
  opacity: 1;
}

.hero {
  position: relative;
  background: url("../assets/img/hero.png");
  height: 644px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 134px;
}

.hero .hero__carousel {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero__text {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
}

.hero .hero__text-big {
  font-size: 36px;
}

.hero .hero__buttons {
  -webkit-transform: translate(75%, 0%);
          transform: translate(75%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.content {
  background: url(../assets/img/bg-content.png);
  color: #fff;
}

.content__header {
  text-align: center;
  padding: 63px 0 42px;
}

.content__header img {
  margin: 0 0 16px;
}

.content__text {
  font-size: 36px;
}

.content__text-big {
  font-size: 48px;
}

.content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 160px 162px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__cards img {
  margin: 0 0 22px 0;
}

.content__cards button {
  width: 100%;
}

.content__card {
  background: #fff;
  max-width: 320px;
  height: 420px;
  border: 1px solid #8dd83d;
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 4px 4px 10px #18191a;
          box-shadow: 4px 4px 10px #18191a;
}

.content__text {
  padding: 0 22px;
}

.content__description {
  font-size: 18px;
  color: #435766;
  margin: 0 0 13px;
}

.content__big-description {
  font-size: 24px;
  color: #435766;
  margin: 0 0 38px;
}

.footer {
  background: #373A3C;
  padding: 58px 165px 38px;
}

.footer a {
  color: #ffff;
}

.footer__li-active a {
  font-weight: 700;
  color: #8dd83d !important;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 275px;
}

.footer__top li {
  margin: 0 0 28px;
}

.footer__hr {
  height: 1px;
  width: 100%;
  margin: 49px 0 19px;
  background: #fff;
}

.footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */